@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  /*Primary Colors*/
  --red: hsl(0, 100%, 66%);
  /*gradient*/
  --g1: hsl(249, 99%, 64%);
  --g2: hsl(278, 94%, 30%);


  /*Neutral*/
  --white: hsl(0, 0%, 100%);
  --lightViolet: hsl(270, 3%, 87%);
  --darkViolet: hsl(279, 6%, 55%);
  --veyDarkViolet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Space Grotesk', sans-serif;
}

html {
  font-size: 18px;
}

img {
  max-width: 100%;
}